<div class="row" id="content">
  <div class="bluepant-text bpt-pages">
    <p class="title">Contáctanos</p>
    <p class="subtitle">Te brindamos mayor información</p>
  </div>
  <div class="bluepant h-pages"></div>
  <%= image_tag "Renac.jpg", class: "back-images h-pages" %>
</div>

<div class="row" >
  <div class="col-md-12 contac margin-top0" >
    <p>Ceiba Team</p>
  </div>
  <div class="col-md-5 style-form" >
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Nombre">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Correo Electronico">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Asunto">
      </div>

      <textarea class="form-control" rows="3" placeholder="Mensaje"></textarea>

      <div class="contact-buttom" >
        <button type="submit" class="btn btn-default">Enviar</button>
      </div>
      <div class="clearfix" ></div>
    </form>
  </div>
  <div class="col-md-3" >
    <p><b> Buscanos en Facebook </b></p>
    <a href="https://www.facebook.com/Ceiba-Team-Desarrollo-Web-344460662598985/">Ceiba Team</a>
  </div>
  <div class="col-md-3" >
    <p><b>Numero de Oficina</b></p>
    <p>Tel: 983 14 5 75 70</p>
  </div>
</div>

